@import '../../assets/styles/shared';

.App {
  text-align: center;

  .hero {
    height: 100vh;
    background-image: url('../../assets/images/ezspace-image-modern.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    > .hero-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 1rem;
    }
  }
  
  h1 {
    color: $bright-yellow;
    text-shadow: $text-shadow;
    margin-bottom: 2rem;
    @include common-heading-styles;

    span {
      font-weight: 300;
    }
  }

  h2.home-description {
    color: white;
    font-family: $heading-font-family;
    font-size: 1.25rem;
    font-weight: 400;
    text-shadow: $text-shadow;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
    @include common-heading-styles;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
  }

  .call-out-bg {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;

    .alert-primary {
      background-color: #d6eaff;
      border-color: #82beff;
      color: $primary-color;
      padding: .5rem 1rem;
      border-radius: 0.25rem;
      font-size: 1rem;
    }
  }

  .npm-call-out {
    border-radius: 2rem;
    background-color: $black-opacity;
    padding: .5rem;
    width: 75%;
    font-size: 1rem;

    a {
      color: white;
      margin-bottom: 0;
      text-decoration: none;

      &:hover {
        color: $bright-yellow;
      }
    }

    .btn-link {
      color: $bright-yellow;
    }
  }

  .btn-circle-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    background-color: transparent;
    transition: all 0.3s ease;

    &:hover {
      background-color: $black-opacity; 
      color: white;
    }

    /* Icon Animation */
    .white-icon {
      font-size: 2rem;
      
      &:hover {
        animation: bounce 1.5s infinite; /* Infinite bounce animation */
      }
    }
  }

  /* Keyframes for Icon Animation */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Default position */
    }
    40% {
      transform: translateY(-8px); /* Upward movement */
    }
    60% {
      transform: translateY(-4px); /* Slight upward movement */
    }
  }

}
