@import '../../assets/styles/shared';

#about {
  text-align: left;

  .section-1 {
    background-color: white;
    padding: 5rem 0 0;
  }

  .about-hr {
    margin: 2rem;
    border: 2px solid #ddd;
    opacity: 1;
  }

  .example-section h4 {
    margin-bottom: 2rem !important;
  }
}